@{
    ViewBag.Title = "Home Page";
}

<h1>Chcesz poznać nasze najlepsze produkty? Kliknij w link!</h1>
<ul>
    <li>@Html.ActionLink("Najlepsze produkty", "BestProducts")</li>
    <li>@Html.ActionLink("Najlepsze produkty (Async)", "BestProductsAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (Manual Async)", "BestProductsManualAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (Concurrent Queries Async)", "BestProductsConcurrentQueriesAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (Concurrent Readers Async)", "BestProductsConcurrentReadersAsync")</li>
    <li>@Html.ActionLink("Najlepsze produkty (Async With Wait)", "BestProductsWithWaitAsync")</li>
    <li>@Html.ActionLink("Anulowanie żądania", "BestProductsCancellableAsync")</li>
</ul>
